<h2>Welcome from nest!!!</h2>

<p>Dear <%= name %></p>

<p>thanks for signing up!</p>

<p>Here are your account details</p>
<ul>
  <li>email: <%= email %></li>
  <li>login Url: <%= loginUrl %></li>
</ul>

Thanks! The NestJS team
